/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* 
    HEADER
*/

header {
    background-color: #add8e6;
}

.header-nav {
    display: flex;
    padding: 10px 0;
}

.header-section {
    display: flex;
    justify-content: center;
}

.header-nav > * {
    padding: 10px; 
}

aside div {
    justify-content: flex-end;
}

header aside {
    width: 20%;
    display: flex;
}

aside:last-child {
    justify-content: flex-end;
}

header main {
    width: 60%;
    display: flex;
    justify-content: center;
}

.header-section > * {
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container > section {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

section aside {
    width: 40%;
}

section main {
    width: 60%;
}

section div {
    width: 100%;
}

/* 
    FOOTER
*/

.footer-top-container {
    display: flex;
    margin-bottom: 20px;
}

.footer-main-container aside {
    width: 30%;
}

.footer-col {
    width: 70%;
    display: flex;
}

.footer-col section {
    width:25%;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-nav > * {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}


/* 
    DEBUG
*/

.header-main-container {
    background-color: #add8e6;
}

.header-nav > * {
    background-color: #daa520;
    border: 1px dashed black;
}

.header-section {
    background-color: #00008b;
}

.header-section > section {
    
    background-color:#ee82ee;
    border: 1px dashed black;
    min-height: 300px;
}

section aside {
    background-color: #ffc0cb;
    border: 1px dashed black;
    min-height: 500px;
}

section main {
    background-color: #1e90ff;
    border: 1px dashed black;
    min-height: 500px;
}

section div {
    background-color: #228b22;
    border: 1px dashed black;
    min-height: 600px;
}

/*main > .container > *:nth-of-type(2n+2) {
    
    background-color: #d3d3d3;
}*/

footer {
    background-color: #23272a;
}

.footer-top-container aside {
    background-color: #f08080;
    border: 1px dashed black;
    min-height: 500px;
}

.footer-col section {
    background-color: #20b2aa;
    border: 1px dashed white;
    min-height: 500px;
}

.footer-nav {
    background-color: #7fffd4;
}

.footer-nav > * {
    background-color: #ffb6c1;
    border: 1px dashed black;
}